@font-face {
    font-family: 'Khmer MN';
    src: url('KhmerMN.woff2') format('woff2'),
        url('KhmerMN.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Khmer MN';
    src: url('KhmerMN-Bold.woff2') format('woff2'),
        url('KhmerMN-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

